@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-thumbnail" src="~/Content/themes/base/images/maersk.jpg"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fleet Size</h2>
        <p>Maersk has a fleet of 3 ships, the Mary Maersk, Emma Maersk and Majestic Maersk. </p>
    </div>
    <div class="col-md-4">
        <h2>Effecient Service</h2>
        <p>Whether you are shipping bananas to Bahrain, shoes from Singapore or wind turbines to the West Indies, you can rest assured that we have done it before. Our expert teams are on-hand 24/7 to assist you from start to finish, and we can also analyse your operations to help streamline your logistics and supply chain
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why Maersk?</h2>
        <p>At Maersk, we move more than cargo. We propel ambitions. This means that, whether you run a corner shop or a conglomerate, we have the expertise, global network and stability you need to drive your business forward.</p>
    </div>
</div>